---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
  <ul class="responsive-table" style="margin-left: 0;">
    <li class="table-header">
      <div class="col col-1">Session</div>
      <div class="col col-1-2">Time</div>
      <div class="col col-2">Title</div>
      <div class="col col-4">Speaker</div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">08:00-08:40</div>
      <div class="col col-2">MORNING COFFEE & GREETS</div>
      <div class="col col-4"></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">08:40-09:00</div>
      <div class="col col-2">Introduction to the workshop</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">JD Griffiths</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">09:00-09:40</div>
      <div class="col col-2">Introduction to Dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=0ZVdLpMAAAAJ&hl=en">V Jirsa</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">09:40-10:20</div>
      <div class="col col-2">Criticality, metastability, multistability: The “primitives” of complex brain dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=hrx691cAAAAJ&hl=en&oi=ao">M Breakspear</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">10:20-11:00</div>
      <div class="col col-2">Intro to connectome-based neural mass modeling</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=KO2SlS0AAAAJ&hl=en&oi=ao">SP Bastiaens</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">11:00-11:20</div>
      <div class="col col-2">Panel discussion</div>
      <div class="col col-4"></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Understanding the Fundamentals: Theory and Background</div>
      <div class="col col-1-2">11:20-12:00</div>
      <div class="col col-2">Hands-on Session 1</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">D Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">JD Griffiths</a></div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">12:00-12:45</div>
      <div class="col col-2-4">~~~ LUNCH ~~~</div>
      <div class="col col-4"></div>
    </li>

    <li class="table-row">
      <div class="col col-1">In Action: Cognitive Systems and Applications</div>
      <div class="col col-1-2">12:45-13:25</div>
      <div class="col col-2">Waves or Networks at the basis of Cognition?</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=v3ZEOeMAAAAJ&hl=en&oi=ao">J Cabral</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">In Action: Cognitive Systems and Applications</div>
      <div class="col col-1-2">13:25-14:05</div>
      <div class="col col-2">Brain geometry and dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=JC+pang&btnG=">JC Pang</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">In Action: Cognitive Systems and Applications</div>
      <div class="col col-1-2">14:05-14:45</div>
      <div class="col col-2">Modelling of brain stimulation and network dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">D Momi</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">In Action: Cognitive Systems and Applications</div>
      <div class="col col-1-2">14:45-15:05</div>
      <div class="col col-2">Panel discussion</div>
      <div class="col col-4"></div>
    </li>
    <li class="table-row">
      <div class="col col-1">In Action: Cognitive Systems and Applications</div>
      <div class="col col-1-2">15:05-15:45</div>
      <div class="col col-2">Hands-on Session 2</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">D Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">JD Griffiths</a></div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">15:45-16:00</div>
      <div class="col col-2-4">~~ BREAK ~~</div>
      <div class="col col-4"></div>
    </li>

    <li class="table-row">
      <div class="col col-1">Beyond Theory: Clinical Applications and Practice</div>
      <div class="col col-1-2">16:00-16:30</div>
      <div class="col col-2">Psychedelic Drugs and Brain Dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=fZZ5WZcAAAAJ&hl=en&oi=ao">J Cruzat</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Beyond Theory: Clinical Applications and Practice</div>
      <div class="col col-1-2">16:30-17:00</div>
      <div class="col col-2">Neurocomputational modelling for predicting psychosis</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=XLtBQ4kAAAAJ&hl=en&oi=ao">A Diaconescu</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Beyond Theory: Clinical Applications and Practice</div>
      <div class="col col-1-2">17:00-17:10</div>
      <div class="col col-2">Panel discussion</div>
      <div class="col col-4"></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Beyond Theory: Clinical Applications and Practice</div>
      <div class="col col-1-2">17:20-17:30</div>
      <div class="col col-2">Hands-on Session 3</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">D Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">JD Griffiths</a></div>
    </li>
  </ul>
</div>

<style>
  .responsive-table {
    background-color: #F9EFCC;
  }
  .responsive-table .table-row {
    background-color: #F6ECCE;
  }
</style>
